* {
  margin: 0;
  padding: 0;
}
.root-div {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #ff8a00, #e52e71);
}
.card {
  height: 95vh;
  width: 20rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: white;
}
.top-div {
  width: 20rem;
  height: 30%;
  border-radius: 2rem 2rem 0 0;
  background-color: blue;
  position: relative;
  display: flex;
  justify-content: center;
}
.top-div img {
  object-fit: auto;
  width: 20rem;
  border-radius: 2rem 2rem 0 0;
  height: auto;
}
.hero-div {
  width: 10rem;
  height: 10rem;
  position: absolute;
  bottom: -5rem;
  left: 5rem;
  border-radius: 10rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.hero-div img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 10rem;
}
.bottom-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 20%;
  justify-content: space-evenly;
  height:60%;
}
.bottom-div button {
  background-color: yellow;
  border: 0;
  border-radius: 3rem;
  padding: 1rem;
  width: 100%;
}
.bottom-div p {
  margin: 0;
  color: grey;
  font-size: 1.1rem;
}
.account-insights {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}
.account-insights .count {
  color: blue;
  font-weight: 900;
  font-size: x-large;
}
.account-insights p {
  font-size: small;
  color: grey;
}
