body {
  margin: 0;
}
.root-div {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #ff8a00, #e52e71);
}
.card {
  height: 90vh;
  width: 25vw;
  margin: 2rem;
  border-radius: 2rem;
  background-color: white;
}
.top-div {
  width: 25vw;
  height: 30vh;
  border-radius: 2rem 2rem 0 0;
  background-color: blue;
  position: relative;
}
.top-div img {
  object-fit: contain;
  width: 25vw;
  border-radius: 2rem 2rem 0 0;
}
.hero-div {
  width: 10vw;
  height: 10vw;
  position: absolute;
  bottom: -5vw;
  left: 8vw;
  border-radius: 10rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.hero-div img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 10rem;
}
.bottom-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
.bottom-div button {
  background-color: yellow;
  border: 0;
  border-radius: 3rem;
  padding: 1rem;
  width: 100%;
}
.bottom-div p {
  margin: 0;
  color: grey;
  font-size: 1.1rem;
}
.bottom-div h2{
  margin: 3rem 0 0 0;
}
.account-insights {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}
.account-insights .count {
  color: blue;
  font-weight: 900;
  font-size: x-large;
}
.account-insights p {
  font-size: small;
  color: grey;
}
